.display{
    background-color: gray;
    height: 70px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.5em;
    margin: auto;
    margin-bottom: 1em;
}